{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <title>Astronomia Nova</title>
  </head>
  <body>
  <div class="loader"></div>
<!--   <audio autoplay="autoplay" loop="loop">
   <source src="{% static 'music/background.mp3' %}" />
  </audio> -->
  <script src="{% static 'js/three.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'js/OrbitControls.js' %}"></script>
  <script src="{% static 'js/threex.windowresize.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/textures.js' %}"></script>
  <script src="{% static 'js/skybox.js' %}"></script>
      {% block content %}
      {% endblock %}
    <script type="text/javascript">
      $(function() {
        $(".loader").delay(400).fadeOut("slow");
      });
    </script>
  </body>
</html>
