{% extends 'main/base.html' %}
{% block content %}
<script type="text/javascript">
  var camera, scene, renderer, stats;
  var texloader = new THREE.TextureLoader();
  var sky = texloader.load( '/static/images/skybox.jpg' );

  init();

  function init(){
    //set up scene and camera
    scene = new THREE.Scene();
    renderer = new THREE.WebGLRenderer();
    renderer.setSize(window.innerWidth, window.innerHeight);
    //field_of_view, aspect_ratio, near_clip, far_clip
    camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 1, 20000);
    camera.position.set(0, 100, 200);
    camera.lookAt(scene.position);
    scene.add( camera );

    var axes = new THREE.AxisHelper(100);
    scene.add(axes);


    var materialArray = [];
      materialArray.push(new THREE.MeshBasicMaterial( { map: sky }));
      materialArray.push(new THREE.MeshBasicMaterial( { map: sky }));
      materialArray.push(new THREE.MeshBasicMaterial( { map: sky }));
      materialArray.push(new THREE.MeshBasicMaterial( { map: sky }));
      materialArray.push(new THREE.MeshBasicMaterial( { map: sky }));
      materialArray.push(new THREE.MeshBasicMaterial( { map: sky }));
      

    for (var i = 0; i < 6; i++)
       materialArray[i].side = THREE.BackSide;
    var skyboxMaterial = new THREE.MeshFaceMaterial( materialArray );
    var skyboxGeom = new THREE.CubeGeometry( 5000, 5000, 5000, 1, 1, 1 );
    var skybox = new THREE.Mesh( skyboxGeom, skyboxMaterial );
    scene.add( skybox );


    document.body.appendChild( renderer.domElement );
    animate();
  }

  function animate() {
    requestAnimationFrame(animate);
    renderer.render( scene, camera );
  }
</script>
{% endblock %}