body {
  color: #222;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  min-width: 800px;
  min-height: 600px;
  overflow: hidden;
  z-index: 1;
}

button {
  background-color: transparent;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-sizing: border-box;
  color: #faebd7;
  cursor: pointer;
  font-size: 11px;
  font-weight: 600;
  height: 38px;
  letter-spacing: .1rem;
  line-height: 38px;
  margin-top: 10px;
  min-width: 300px;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

button:hover {
  border-color: #F0C400;
  color: #F0C400;
  outline: 0;
}

button.active {
  border-color: #F0C400;
  color: #F0C400;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(/static/fonts/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

header {
  background-color: #2B2B2B;
  height: 35px;
  margin-bottom: 10px;
  opacity: .9;
  width: 100%;
}

header h1.logo {
  color: #fff;
  float: left;
  font-size: 1.7em;
  margin: 0;
  text-transform: uppercase;
}

header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

h2 {
  font-size: 2vw;
  margin-top: 10px;
}

select {
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  height: 38px;
  padding: 6px 10px;
}

select option {
  background: rgb(0,0,0);
}

table.center {
  margin-left:auto;
  margin-right:auto;
}

th,
td {
  border-bottom: 1px solid #E1E1E1;
  padding: 12px 15px;
  text-align: left;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

#amount {
  background-color: black;
}

.centerlist{
  margin:0 auto;
  text-align:left;
  width:78%;
}

#dist {
  float: center;
  font-size: 1em; /* currently ems cause chrome bug misinterpreting rems on body element */
  font-weight: 500;
  line-height: 1.6;
  margin-left:auto;
  margin-right:auto;
}

#infoBox {
  border: 1px solid #faebd7;
  font-style: italic;
  padding: 10px;
  text-align: center;
}

#select-choice {
  z-index: 100;
}

.sidebar {
  background: transparent;
  color: #faebd7;
  font-size: 1em;
  font-size: 1.1vw;
  margin-bottom: auto;
  margin-top: auto;
  padding:20px;
  position: absolute;
  right: 30px;
  text-align: center;
  width: 25%;
  z-index: 3;
}

.sliderlabel {
  margin-bottom: 20px;
  margin-top: 20px;
}

#space_container {
  height: 100%;
  left: 0px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#star-slider{
  margin-bottom: 20px;
}

.stats {
  text-align: center;
}

.toggleStyle {
  background-color: transparent;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-sizing: border-box;
  color: #faebd7;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .1rem;
  line-height: 38px;
  margin-top: 10px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  width: 90px;
}

/*remove slider focus */
.ui-slider-handle {
  outline: none;
}

/* Index (Intro Page)
   ========================================================================== */

#click-text{
  animation-duration: 20s;
  animation-name: click-fade;
  animation-timing-function: ease;
  font-style: italic;
}

@keyframes click-fade {
  0%   { opacity: 0; }
  65%  { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes info-fade {
  0%   { opacity: 0; }
  45%  { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes welcome-fade {
  0%   { opacity: 0; }
  30%  { opacity: 0; }
  100% { opacity: 1; }
}

.info-div {
  background: transparent;
  color: #feffe5;
  font-size: 2vw;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
  position: absolute;
  text-align: center;
  width: 60%;
  z-index: 6;
}

#info-text {
  animation-name: info-fade;
  animation-duration: 15s;
  animation-timing-function: ease;
}

#trees{
  animation:2s ease-in;
  background-image: url('../images/transparenttrees.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: auto;
  position: absolute;
  width: 100%;
  z-index: 5;
}

#welcome-text {
  animation-duration: 10s;
  animation-name: welcome-fade;
  animation-timing-function: ease;
  background: transparent;
  color: #feffe5;
  font-size: 4vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* Error Page (UFO)
   ========================================================================== */

.error {
  background: transparent;
  color: #faebd7;
  position: absolute;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  width: 100%;
  z-index: 3;
}

.error-text {
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  -webkit-transform: translate(-50%, 10%);
  transform: translate(-50%, 10%);
}

.error h1{
  font-size: 50px;
}

.error h5{
  font-size: 25px;
}

.faces {
  -webkit-animation: 8s ease-in-out infinite normal run;
  animation: 8s ease-in-out infinite normal;
  -webkit-animation-name: abducted;
  animation-name: abducted;
  background-repeat: no-repeat;
  height: 60px;
  opacity: 0;
  position: absolute;
  width: 60px;
}

.faces.jenn {
  background-image: url('../images/jenn.png');
}

.faces.lars {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  background-image: url('../images/lars.png');
}

.faces.anita {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  background-image: url('../images/anita.png');
}

.faces.fabien {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  background-image: url('../images/fabien.png');
}

@keyframes abducted {
  0% {
    bottom: 15px;
    opacity: 0;
    right: -130px;
  }
  5% {
    opacity: 1;
  }
  12% {
    bottom: 15px;
    opacity: 0.5;
    right: 70px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  23% {
    bottom: 200px;
    opacity: 0;
    right: 70px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ufo {
  background-image: url('../images/ufo.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 380px;
  left: 50%;
  margin: auto;
  position: absolute;
  -webkit-transform: translate(-50%, 5%);
  transform: translate(-50%, 5%);
  width: 190px;
}

.ufo.light {
  -webkit-animation: 2s ease-in-out infinite normal running;
  animation: 2s ease-in-out infinite normal running;
  -webkit-animation-name: beam;
  animation-name: beam;
  background-image: url('../images/ufoLight.png');
  opacity: 0;
  position: absolute;
}

@keyframes beam {
  30% { opacity: 0; }
  40% { opacity: 1; }
  80% { opacity: 1; }
  90% { opacity: 0; }
}

/* Loading Spinner
   ========================================================================== */

.loader {
  background: url('../images/spinner.gif') 50% 50% no-repeat rgb(0,0,0);
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
}
