{% extends "main/base.html" %}
{% block content %}
{% include 'sidebar/sidebar_starmap.html' %}
  <div id="space_container"></div>
    <script>

    $(function() {
      skybox('starmap');
      var controls, camera, scene, renderer, container, intersects, winResize;
      // Set up canvas dimensions
      var windowwidth = window.innerWidth;
      var width = windowwidth * 0.66667;
      var height = window.innerHeight;

      var infobox = document.getElementById('infoBox').innerHTML;

      var stars = {};
      // Set up tools for hover and click events
      var raycaster = new THREE.Raycaster();
      var mouse = new THREE.Vector2(), INTERSECTED;

      // Create the starmap
      start();

      function start(){
        //Scene creation
        scene = new THREE.Scene();
        container = document.getElementById( 'space_container' );
        // PerspectiveCamera creation and Set up
        camera = new THREE.PerspectiveCamera(75, width/height, 50, 1000);
        camera.position.set(0, 0, 2600);
        scene.add(camera);

        // Mouse controls - Zoom only for skybox and starmap
        controls = new THREE.OrbitControls( camera );
        controls.minDistance = 200;
        controls.maxDistance = 2600;
        controls.enableRotate = false;

        // // controls.addEventListener("change", render);
        // controls.target.set(0, 0, 2600);

        var light = new THREE.PointLight(0xffffff);
        light.position.set(0,0,2375);
        scene.add(light);

        // Create the WebGL renderer and append it to the DOM bia the body element
        renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
        renderer.setSize(width, height);
        // renderer.setClearColor( 0x000000, 0 );
        container.appendChild(renderer.domElement);
        renderer.render(scene,camera);

        var geometry, material, star;

        $('#select-default').on('click', function() {
          clearScene();
          {% for star in stars %}
            var url = "{% url 'stellar_system' star.pk %}";
            createStar({{star.stellar_temp}}, {{star.right_ascension}}, {{star.declination}}, {{star.light_years_dist}}, url);
          {% endfor %}
        });

        $('#select-habitable').on('click', function() {
          clearScene();
          {% for star in habitable %}
            var url = "{% url 'stellar_system' star.pk %}";
            createStar({{star.stellar_temp}}, {{star.right_ascension}}, {{star.declination}}, {{star.light_years_dist}}, url);
          {% endfor %}
        });

        $('#select-five_plus').on('click', function() {
          clearScene();
          {% for star in five_plus %}
            var url = "{% url 'stellar_system' star.pk %}";
            createStar({{star.stellar_temp}}, {{star.right_ascension}}, {{star.declination}}, {{star.light_years_dist}}, url);
          {% endfor %}
        });

        {% for star in stars %}
          var url = "{% url 'stellar_system' star.pk %}";
          createStar({{star.stellar_temp}}, {{star.right_ascension}}, {{star.declination}}, {{star.light_years_dist}}, url);
        {% endfor %}
        animate();
      }

      function clearScene() {
        for( var i = scene.children.length - 1; i >= 0; i--) {
          obj = scene.children[i];
          scene.remove(obj);
        }
        stars = [];
      }

      function animate() {
        requestAnimationFrame(animate);
        controls.update();
        raycast();

        // Slider
        $("#dist").text("Distance from Earth is " + Math.round(camera.position.z + 500) + " light years");
        $( "#star-slider" ).slider({ value: Math.round(camera.position.z + 500) });

        //resizes canvas when window is
        winResize = new THREEx.WindowResize(renderer, camera);
        renderer.render(scene,camera);
      }

      function raycast() {
        raycaster.setFromCamera( mouse, camera );
        selection = raycaster.intersectObjects( scene.children );
        if ( selection.length > 0 ) {
          $('canvas').css('cursor', 'pointer');
        }
        else {
          $('canvas').css('cursor', 'auto');
        }
      }

      function createStar (temp, ra, declination, ly, path) {
        color = star_color(temp);
        geometry = new THREE.SphereGeometry(1, 15, 15);
        material = new THREE.MeshBasicMaterial({color: color, wireframe:false});
        star = new THREE.Mesh(geometry, material);
        scene.add(star);
        star.position.set((ra - 290) * 5 * (ly / 1000), (declination - 45) * 5 * (ly / 1000),ly - 500);
        stars[star.id + 1] = path;
        // Star glow (using sprites)
        var spriteMaterial = new THREE.SpriteMaterial({
          map: Textures.glow,
          color: color, transparent: false, blending: THREE.AdditiveBlending
        });
        sprite = new THREE.Sprite( spriteMaterial );
        sprite.scale.set(8, 8, 8);
        star.add(sprite);
      }



      // EVENT LISTENERS
      // Planets turn blue on mouseover (It will make them brighter)
      $('canvas').on( 'mousemove', false, function () {
        event.preventDefault();
        var offset = {
          x: document.getElementsByTagName("canvas")[0].offsetLeft,
          y: document.getElementsByTagName("canvas")[0].offsetTop,
        }
        mouse.x = ((event.clientX - offset.x) / renderer.domElement.width) * 2 - 1;
        mouse.y = 1 - ((event.clientY - offset.y) / renderer.domElement.height) * 2;
      });

      // Make the planets clickable
      $('canvas').on('click', false, function () {
        event.preventDefault();
        selection = raycaster.intersectObjects(scene.children, true);
        if (selection.length > 0) {
          clickedPlanet = selection[0].object;
          // console.log(clickedPlanet);
          window.location = stars[clickedPlanet.id];
        }
      });

      // Deactivate trackball controlls when interacting with the panel
      $('#sidebar').on('mouseenter', function() {
        controls.enabled = false;
        skybox_controls.enabled = false;
      });
      $('#sidebar').on('mouseleave', function() {
        controls.enabled = true;
        skybox_controls.enabled = true;
      });

      // Stars are colored based on their temperature
      function star_color(temp) {
        if (temp > 28000) {
          return 0xaabfff
        } else if (temp > 10000) {
          return 0xe4e8ff
        } else if (temp > 7500) {
          return 0xffffff
        } else if (temp > 6000) {
          return 0xffffe0;
        } else if (temp > 4900) {
          return 0xffff66
        } else if (temp > 3500) {
          return 0xffa44c
        } else if (temp > 2000) {
          return 0xf73d28;
        } else {
          return 0xffffff
        }
      }

      // Button on sidebar to reset camera
      $('#camera-reset').on('click', function() {
        camera.position.set(0, 0, controls.maxDistance);
        document.querySelector('#star-slider').value = 0;
        document.querySelector('#dist').value = 0;
      });

      // Slider on sidebar to move forwards/backwards
      $( "#star-slider" ).slider({
        animate: true,
        max: 3100,
        min: 700,
        slide: function( mousemove, dist) {
          camera.position.set(0, 0, dist.value - 500);
        }
      });

    });
    </script>
  {% endblock %}
