<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/skeleton.css">
    <link rel="stylesheet" href="../public/css/main.css">

    <script src="../public/js/jquery-2.1.4.min.js"></script>
    <script src="../public/js/handlebars.js"></script>
    <script src="../public/js/three.min.js"></script>
    <script src="../public/js/OrbitControls.js"></script>
    <script src="../public/js/skybox.js"></script>

    <title>Kepler</title>
  </head>
  <body>

    <div id="space_container"></div>

    <!-- LOADING PAGE -->
    <div class="loading">
      <div class="ufo light"></div>
      <div class="ufo">
        <div class="faces jenn"></div>
        <div class="faces lars"></div>
        <div class="faces anita"></div>
        <div class="faces fabien"></div>
      </div>
      <div class="loading-text">LOADING...</div>
    </div>
    
    <script src="../public/js/starmap/starmap.js"></script>
    <script>
    $(function() {
      $.getJSON("../data.min.json", function(data) {
        starmap(data);
      });
    });
    </script>
  </body>
</html>
