{% extends "main/base.html" %}

{% block content %}
{% include 'sidebar/sidebar_planet.html' %}
<div id="space_container"></div>
  <script type="text/javascript">

    $(function() {
      var container, stats;
      var camera, scene, renderer, controls;
      var texloader = new THREE.TextureLoader();
      var fov = 25;
      var texture = texloader.load('/static/images/plutomap2k.jpg');
      var bump = texloader.load('/static/images/plutobump2k.jpg');

      init();

      function init(){
        //set up scene and camera
        container = document.getElementById( 'space_container' );
        scene = new THREE.Scene();
        renderer = new THREE.WebGLRenderer({alpha: true});
        renderer.setClearColor( 0xffffff, 0);
        renderer.setSize(1000, window.innerHeight);
        camera = new THREE.PerspectiveCamera(fov, 1000/ window.innerHeight, 50, 10000);
        camera.position.z = 100;
        scene.add( camera );
        //control camera
        controls = new THREE.OrbitControls( camera );
        controls.minDistance = 100;
        controls.maxDistance = 400;
        //light
        var amlight = new THREE.AmbientLight( 0x888888 )
        scene.add( amlight );
        var dirlight = new THREE.DirectionalLight( 0xcccccc, 1 )
        dirlight.position.set(10,3,5)
        scene.add( dirlight );
        //rockyplanet
        var material = new THREE.MeshPhongMaterial({ map: texture, bumpMap: bump, bumpScale: 0.02 });
        var geometry = new THREE.SphereGeometry( 20, 32, 32 );
        var rockyplanet = new THREE.Mesh( geometry, material );
        scene.add(rockyplanet);
    
        container.appendChild( renderer.domElement );
        animate();
      }
      
      function animate() {
        requestAnimationFrame(animate);
        controls.update;
        renderer.render( scene, camera );
      }
    });

  </script>
{% endblock %}
