{% extends "main/base.html" %}

{% block content %}
{% include 'sidebar/sidebar_planet.html' %}
<div id="space_container"></div>
  <script type="text/javascript">
    $(function() {
      var container;
      var camera, scene, renderer, controls;
      var fov = 25;
      var texloader = new THREE.TextureLoader();
      var rockytexture = texloader.load('/static/images/rocky.jpg');
      var rockybump = texloader.load('/static/images/rockybump.jpg');

      init();

      function init(){
        //set up scene and camera
        container = document.getElementById( 'space_container' );
        scene = new THREE.Scene();
        group = new THREE.Group();
        renderer = new THREE.WebGLRenderer({alpha: true});
        renderer.setClearColor( 0xffffff, 0);
        renderer.setSize(1000, window.innerHeight);
        camera = new THREE.PerspectiveCamera(fov, 1000/ window.innerHeight, 50, 10000);
        camera.position.z = 100;
        scene.add( camera );
  
        //control camera
        controls = new THREE.OrbitControls( camera );
        controls.minDistance = 100;
        controls.maxDistance = 400;

        //light
        var amlight = new THREE.AmbientLight( 0x888888 )
        scene.add( amlight );
        var dirlight = new THREE.DirectionalLight( 0xcccccc, 1 )
        dirlight.position.set(10,3,5)
        scene.add( dirlight );

        //rockyplanet
        var material = new THREE.MeshPhongMaterial({ map: rockytexture, bumpMap: rockybump, bumpScale: 0.70 });
        var geometry = new THREE.SphereGeometry( 20, 32, 32 );
        var rockyplanet = new THREE.Mesh( geometry, material );
        scene.add(rockyplanet);
    

        container.appendChild( renderer.domElement );
        animate();

        function animate() {
          requestAnimationFrame(animate);
          controls.update();
          rockyplanet.rotateY(2/1000);
          renderer.render( scene, camera );
        }
      }
    });
  </script>
{% endblock %}
