{% extends "main/base.html" %}

{% block content %}
  {% include 'sidebar/sidebar_planet.html' %}
  <div id="planet_container">
    {% include "partials/_gasfragment.html" %} 
    {% include "partials/_gasvertex.html" %}  
    <script>
      var container, stats;
      var camera, scene, renderer, controls;
      var group;
      var fov = 30;
      var texloader = new THREE.TextureLoader();

      init();
      animate();


      function init(){
        container = document.getElementById( 'planet_container' );
        scene = new THREE.Scene();
        camera = new THREE.PerspectiveCamera(fov, window.innerWidth/ window.innerHeight, 0.1, 10000);

        camera.position.z = 10;

        camera.target = new THREE.Vector3( 0, 0, 0 );
        group = new THREE.Group();
        scene.add( group );
        renderer = new THREE.WebGLRenderer();

        renderer.setSize(window.innerWidth, window.innerHeight);

        controls = new THREE.OrbitControls( camera );

        controls.minDistance = 100;

        controls.maxDistance = 2000;

        //light
        var amlight = new THREE.AmbientLight( 0x888888 )
        group.add( amlight );

        var dirlight = new THREE.DirectionalLight( 0xcccccc, 1 )
        dirlight.position.set(10,3,5)
        group.add( dirlight );

        //Planet
        var material = new THREE.ShaderMaterial({ 

          vertexShader: document.getElementById( 'vertexShader' ).textContent,
          fragmentShader: document.getElementById( 'fragmentShader' ).textContent 

        });
        var geometry = new THREE.IcosahedronGeometry( 20, 4 )
        var gasplanet = new THREE.Mesh( geometry, material );


        group.add(gasplanet);
        group.add(camera);
        container.appendChild( renderer.domElement );
      }

      function animate() {
        requestAnimationFrame(animate);
        controls.update;
        renderer.render( scene, camera );
      }
    </script>
  </div>
{% endblock %}