{% extends 'main/base.html' %}
{% block content %}
{% include 'sidebar/sidebar_planet.html' %}
{% include 'partials/_gasfragment.html' %}
{% include 'partials/_gasvertex.html' %}
  <div id="space_container"></div>
  <script type="text/javascript">
    $(function() {
      var radius = {{planet.planet_radius}};
      {% if planet.surface_temp >= 273 and planet.surface_temp <= 373 %}
        $.getScript('/static/js/planets/_solidplanet.js');
        solidPlanet(radius, habitabletexture, habitablebump, 0.50);
      {% elif planet.planet_radius < 4 and planet.planet_radius >= 2 %}
        $.getScript('/static/js/planets/_gasplanet.js');
        gasPlanet(radius, blueexplocolor);
      {% elif planet.planet_radius > 4 %}
        $.getScript('/static/js/planets/_gasplanet.js');
        gasPlanet(radius, redexplocolor);
      {% else %}
        $.getScript('/static/js/planets/_solidplanet.js');
        solidPlanet(radius, rockytexture, rockybump, 0.70);
      {% endif %}
    });
  </script>
{% endblock %}
