{% extends 'main/base.html' %}
{% block content %}
{% include 'sidebar/sidebar_planet.html' %}
{% include 'partials/_gasfragment.html' %}
{% include 'partials/_gasvertex.html' %}
  <div id='space_container'></div>
  <script src='/static/js/planets/_gasplanet.js'></script>
  <script src='/static/js/planets/_solidplanet.js'></script>
  <script type='text/javascript'>
    //function determines which planet to render
    $(function() {
      skybox();
      var radius = {{planet.planet_radius}};
      {% if planet.planet_radius <= 2 and planet.surface_temp >= 273 and planet.surface_temp <= 373 %}
        //Habitable Planet
        solidPlanet(radius, Textures.habitabletexture, Textures.habitablebump, 0.50);
      {% elif planet.planet_radius < 4 and planet.planet_radius >= 2 %}
        // Blue Gas Planet
        gasPlanet(radius, Textures.blueexplocolor);
      {% elif planet.planet_radius > 4 %}
        // Red Gas Planet
        gasPlanet(radius, Textures.redexplocolor);
      {% else %}
        // Rocky Planet
        solidPlanet(radius, Textures.rockytexture, Textures.rockybump, 0.70);
      {% endif %}
    });
  </script>
{% endblock %}
