{% extends "main/base.html" %}
{% block content %}
  <script src="/static/js/skybox.js"></script>
  <!-- LOADING OR ERROR UFO PAGE -->
  <div class = "error">
    <div class="error-text">
      <h1>500: Server Error</h1>
        <h5> It looks like your page as been abducted by extraterrestrials! Return to your ship to continue your journey...
        </h5>
    </div>
    <div class="ufo light"></div>
      <div class="ufo">
        <div class="faces jenn"></div>
        <div class="faces lars"></div>
        <div class="faces anita"></div>
        <div class="faces fabien"></div>
      </div>
    </div>
  </div>
{% endblock %}
