/*Starmap*/
.starmap {
	opacity: 0;
	transition: 0.6s;
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
}

.starmap.visible {
	opacity: 1;
}

/*Stellar System*/
.system {
	opacity: 0;
	transition: 0.6s;
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
}

.system.visible {
	opacity: 1;
}

/*Error Page*/
.error {
	opacity: 0;
	transition: 0.6s;
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
}

.error.visible {
	opacity: 1;
}

.error h3 {
	font-size: 40px;
}
