<div id='sidebar'>
  <h5>{{ planet.kepler_name }}</h5>
  <div>
    <h6><em>What do we know?</em></h6>
    Kepler ID: {{ planet.kepler_id }}<br>
    Surface Temperature: {{ planet.surface_temp }}K<br>
    Is this planet in the habitable zone? 
    {% if planet.surface_temp >= 273 and planet.surface_temp <= 373 %}
        YES!
    {% else %}
        No
    {% endif %}<br>
    Planet Radius: {{ planet.planet_radius }} Earth radii<br>
    How many transits have been observed? {{ planet.transits_observed }}<br>
    Distance from star to planet: {{ planet.semimajor_axis }}<br>
    How long is one "year"? {{ planet.orbital_period }} days<br>
  </div>

  <!-- TOGGLE SWITCH FOR EARTH -->
  <div>
    <label for='flip-1'>Compare with Earth</label>
    <select class='invertedColor' name='flip-1' id='flip-1' data-role='slider'>
      <option value='off'>Off</option>
      <option value='on'>On</option>
    </select>
  </div>

  <div class='button'>Return To Stellar System</div>
</div>

<script>

  $('.button').on('click', function() {
    alert('You clicked the button');
  });

</script>
