<div id="sidebar">
  <h5>Kepler-104b</h5>
  <div>
    <h6>~ Stuff to know ~</h6>
    Is this planet in the habitable zone? YES!<br>
    Kepler ID: (planet.kepler_id)<br>
    planet.surface_temp (temperature on surface of planet)<br>
    planet.planet_radius<br>
    planet.stellar_mass<br>
    How many transits have been observed?<br>
    planet.semimajor_axis<br>
    planet.orbital_period<br>
  </div>
  <div class="toggle">Toggle: overlay or compare with Earth</div>
  <div class="button">Return To Stellar System</div>
</div>

<script>

  $('.button').on('click', function() {
    alert('You clicked the button');
  });

</script>
