<div class='sidebar'>
  <h3>{{ planet.kepler_name }}</h3>
  <div>
    Is this planet in the habitable zone? 
    {% if planet.surface_temp >= 273 and planet.surface_temp <= 373 %}
        YES!
    {% else %}
        No
    {% endif %}<br>
    How many transits have been observed? {{ planet.transits_observed }}<br>
  </div>

  <!-- STATS TABLE TO COMPARE EXOPLANET WITH EARTH -->
  <div>
    <table>
      <thead>
        <tr>
          <th colspan='3'>Compare with Earth:</th>
        </tr>
        <tr>
          <th></th>
          <th>{{ planet.kepler_name }}</th>
          <th>Earth</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Surface Temp</td>
          <td>{{ celsius }}&deg; C</td>
          <td>14&deg; C</td>
        </tr>
        <tr>
          <td>Radius</td>
          <td>{{ planet.planet_radius }} Earth Radii</td>
          <td>1 Earth Radius</td>
        </tr>
        <tr>
          <td>Distance to Star</td>
          <td>{{ planet.semimajor_axis }} AU</td>
          <td>1 AU to Sun</td>
        </tr>
        <tr>
          <td>Length of Year</td>
          <td>{{ orbital_period }} days</td>
          <td>365 days</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- BUTTON TO RETURN TO SYSTEM -->
  <a href="{% url 'stellar_system' star_id %}">
    <div class='button'>Return To System</div>
  </a>
</div>
