<div class='sidebar'>
  <h5>Welcome To Kepler!</h5>
  <div>
    <h6>You are looking at:</h6>
    Stars observed with exoplanets: {{ stars|length }}<br>
    Planets discovered by Kepler: {{ planets|length }}<br>
    {% if habitable %}
      Planets in the habitable zone: {{ habitable|length }}
    {% else %}
      Planets in the habitable zone: 0
    {% endif %}<br>
  </div>

  <!-- DROPDOWN MENU FOR FILTERING OPTIONS -->
  <div>
    <label for='select-choice-min' class='select'>Filter Planets</label>
    <select class='toggleStyle' name='select-choice-min' id='select-choice-min' data-mini='true'>
       <option value='standard'>Show All (default)</option>
       <option value='rush'>Habitable</option>
       <option value='express'>Circumbinary</option>
    </select>
  </div>

  <!-- ON/OFF TOGGLE FOR LABELS -->
  <div>
    <label for='flip-1'>Labels</label>
    <select class='toggleStyle' name='flip-1' id='flip-1' data-role='slider'>
      <option value='off'>Off</option>
      <option value='on'>On</option>
    </select>
  </div>

  <!-- SLIDER FOR MOVEMENT -->
  <div>
    <label for='star-slider'>Distance from Earth (light years)</label>
    <input type='range' id='star-slider' value='500' min='0' max='3000' step='1' oninput='outputUpdate(value)'>
    <output for='star-slider' id='dist'>500</output>
  </div>

  <div class='button' id='camera-reset'>
    Reset View
  </div>
</div>

<script>
  function outputUpdate(dist) {
    document.querySelector('#dist').value = dist;
  }
</script>
