<div class='sidebar'>
  <h3>Welcome To Kepler!</h3>
  <div>
    <p id='infoBox'>Kepler is a NASA satellite whose mission is to discover exoplanets - planets which orbit stars other than our own. The discoveries made bring us one step closer to discovering life out in the universe. Come explore with us...</p>
  </div>
  <div>
    Stars observed with exoplanets: {{ stars|length }}<br>
    Planets discovered by Kepler: {{ planets|length }}<br>
    {% if habitable %}
      Planets in the habitable zone: {{ habitable|length }}
    {% else %}
      Planets in the habitable zone: 0
    {% endif %}<br>
  </div>

  <!-- DROPDOWN MENU FOR FILTERING OPTIONS -->
  <div>
    <label for='select-choice-min' class='select' style='margin-top: 20px'>Stars of Interest</label>
    <select class='toggleStyle' name='select-choice-min' id='select-choice-min' data-mini='true'>
       <option value="default">Show All (default)</option>
       <option value="five_plus">Stars with 5+ planets</option>
       <option value="habitable">Stars with habitable planets</option>
       <option value="hotter">Hotter Stars (>= 5000)</option>
       <option value="cooler">Cooler Stars (< 5000)</option>
    </select>
  </div>

  <!-- SLIDER FOR MOVEMENT -->
  <div>
    <label for='star-slider'>Distance from Earth</label>
      <div id='dist'>500</div>
    <div id='star-slider'></div>
<!--     <input oninput='outputUpdate(value)'></div>
    <output for='star-slider' id='dist'>500</output> -->
  </div>
  <div class='button' id='camera-reset'>
    Reset View
  </div>
</div>

<script>
  function outputUpdate(dist) {
    document.querySelector('#dist').value = dist;
  }
</script>
