<div id="sidebar">
  <h5>Kepler-104 System</h5>
  <div>
    <h6>~ Stuff to know ~</h6>
    # planets in system: <br>
    # gas planets: <br>
    # rocky planets: <br>
  </div>
  <div class="toggle">Toggle: overlay or compare with Earth orbit</div>
  <div class="toggle">Toggle: 2D/3D view</div>
  <div class="toggle">Toggle: labels on/off</div>
  <div>Slider: speed of orbits</div>
  <div class="button">Return To Starmap</div>
</div>

<script>

  $('.button').on('click', function() {
    alert('You clicked the button');
  });

</script>
