<div id='sidebar'>
  <h5>Kepler-104 System</h5>
  <div>
    <h6>~ Stuff to know ~</h6>
    # planets in system: <br>
    # gas planets: <br>
    # rocky planets: <br>
  </div>
  
  <!-- TOGGLE SWITCH FOR LABELS -->
  <div>
    <label for='flip-1'>Labels</label>
    <select class='invertedColor' name='flip-1' id='flip-1' data-role='flipswitch'>
      <option value='off'>Off</option>
      <option value='on'>On</option>
    </select>
  </div>

  <!-- TOGGLE SWITCH FOR EARTH -->
  <div>
    <label for='flip-1'>Compare with Earth</label>
    <select class='invertedColor' name='flip-1' id='flip-1' data-role='slider'>
      <option value='off'>Off</option>
      <option value='on'>On</option>
    </select>
  </div>

  <!-- TOGGLE SWITCH FOR 2D/3D -->
  <div>
    <label for='flip-1'>Viewing Angle</label>
    <select class='invertedColor' name='flip-1' id='flip-1' data-role='slider'>
      <option value='off'>3D</option>
      <option value='on'>2D</option>
    </select>
  </div>

  <!-- SLIDER FOR ORBIT SPEED -->
  <div>
    <label for='slider-1'>Speed of Orbits</label>
    <input type='range' name='slider-1' id='slider-1' value='60' min='0' max='100' step='10'>
  </div>

  <div class='button'>
    Return To Starmap
  </div>

</div>

<script>

  $('.button').on('click', function() {
    alert('You clicked the button');
  });

</script>
