<div id="sidebar">
  <h5>Welcome To Kepler's Stars!</h5>
  <div>
    <h6>~ Stuff to know ~</h6>
    Stars observed with exoplanets: {{ stars|length }}<br>
    Planets discovered by Kepler: {{ planets|length }}<br>
    Planets in the habitable zone: {{ habitable|length }}<br>    
  </div>
  <div>
    <ul>Dropdown menu: 
      <li>show all</li> 
      <li>habitable</li> 
      <li>circumbinary</li>
    </ul>
  </div>
  <div>Slider: forwards/backwards<br></div>
  <div class="toggle">Toggle: labels (grid?) on/off</div>
  <div class="button">Reset View</div>
</div>

<script>

  $('.button').on('click', function() {
    alert('You clicked the button');
  });

  // $('.toggle').on('click', function() {
  //   $(this).toggle('slow', function() {
  //     alert("You clicked on the toggle");
  //   })
  // });

</script>
