<div class='sidebar'>
  <h3 class='starname'></h3>
  <div>
    Total planets in this star system: {{ planets|length }}<br>
    {% if habitable %}
      Rocky planets: {{rocky|length }}<br>
      &nbsp; &raquo; &nbsp; <b>{{ habitable|length }} is habitable!</b>
    {% else %}
      Rocky planets: {{rocky|length }} 
    {% endif %}<br>
    Gas planets: {{ gas|length }}<br>
  </div>

  <!-- SLIDER FOR ORBIT SPEED -->
  <div>
    <label for='slider-1'>Speed of Orbits</label>
    <div id='slider-1' style='margin: 10px 100px 30px 0px'></div>
  </div>

  <!-- TOGGLE SWITCH FOR 2D/3D -->
  <div>
    <select class='toggleStyle' name='flip-1' id='flip-view' data-role='slider'>
      <option value='3d'>3D</option>
      <option value='2d'>2D</option>
      <option value='transit'>Transit</option>
    </select>
    <label for='flip-1' style='display: inline;'>Viewing Angle</label>
  </div>

  <!-- TOGGLE SWITCH FOR EARTH -->
  <div>
    <select class='toggleStyle' name='flip-1' id='flip-1' data-role='slider'>
      <option value='off'>Off</option>
      <option value='on'>On</option>
    </select>
    <label for='flip-1' style='display: inline;'>Compare with Earth</label>
  </div>
  
  <!-- TOGGLE SWITCH FOR GRIDLINES -->
  <div>
    <select class='toggleStyle' name='flip-1' id='flip-orbit' data-role='flipswitch'>
      <option value='on'>On</option>
      <option value='off'>Off</option>
    </select>
    <label for='flip-1' style='display: inline;'>Orbit Gridlines</label>
  </div>

  <!-- TOGGLE SWITCH FOR LABELS -->
  <div>
    <select class='toggleStyle' name='flip-1' id='flip-1' data-role='flipswitch'>
      <option value='off'>Off</option>
      <option value='on'>On</option>
    </select>
    <label for='flip-1' style='display: inline;'>Labels</label>
  </div>

  <!-- BUTTON TO RETURN TO STARMAP -->
  <a href="{% url 'starmap' %}">
    <div class='button'>Return To Starmap</div>
  </a>
</div>

<script>
  $(function() {
    name = "{{ name }}";
    name = name.slice(0, -2);
    $('.starname').text(name);
  });
</script>
