<div class='sidebar'>
  <h3 class='starname'></h3>
  <div >
    Star name: {{ star.star_designation }}<br>
    <div class= "centerlist">
    <ul>Coordinates in sky:
      <li>Right ascension {{ star.right_ascension }}&#176;</li>
      <li>Declination {{ star.declination }}&#176;</li> 
    </ul>
    </div>
    Number of planets: {{ planets|length }} <br>

    <!-- STATS TABLE -->
    <table class="center">
      <thead>
        <tr>
          <th style="text-align:center"colspan='3'>Compare with our Sun:</th>
        </tr>
        <tr>
          <th></th>
          <th class='starname'></th>
          <th>Sun</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Surface Temp</td>
          <td>{{ star.stellar_temp }}K</td>
          <td>5778K</td>
        </tr>
        <tr>
          <td>Radius</td>
          <td>{{ star.stellar_radius }} Solar Radii</td>
          <td>1 Solar Radius</td>
        </tr>
        <tr>
          <td>Mass</td>
          <td>{{ star.stellar_mass }} Solar Masses</td>
          <td>1 Solar Mass</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- BUTTON TO RETURN TO SYSTEM -->
  <a href="{% url 'stellar_system' star.pk %}">
    <div class='button'>Return To System</div>
  </a>
</div>

<script>
  $(function() {
    name = "{{ name }}";
    name = name.slice(0, -2);
    $('.starname').text(name);
  });
</script>
